<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="WebUI" 
                 type="MonoTorrent.ClientService.Configuration.WebUISection, MonoTorrent.ClientService" />
        <section name="MonoTorrentClient"
                 type="MonoTorrent.ClientService.Configuration.MonoTorrentClientSection, MonoTorrent.ClientService" />
    </configSections>
    <WebUI build="-1" path=".\WebUI\" responseEncoding="ASCII" httpPrefix="http://*:7888/gui/" />
    <MonoTorrentClient savePath="E:\Torrents\Testing"
                       listenAddress="0.0.0.0"
                       listenPort="51234"
                       maxGlobalConn="100"
                       maxHalfOpenConn="14"
                       maxDownloadRate="150000"
                       maxUploadRate="15000"
                       encryptionFlags="3"
                       defaultDownloadRate="150000"
                       defaultUploadRate="15000"
                       defaultMaxConn="50"
                       defaultUploadSlots="4"
                       />
</configuration>
