<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="WebUI"
                 type="MonoTorrent.ClientService.Configuration.WebUISection, MonoTorrent.ClientService" />
        <section name="MonoTorrentClient"
                 type="MonoTorrent.ClientService.Configuration.MonoTorrentClientSection, MonoTorrent.ClientService" />
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MonoTorrent.ClientService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <WebUI build="-1" path=".\WebUI\" responseEncoding="ASCII" httpPrefix="http://*:7888/gui/" />
    <MonoTorrentClient savePath="E:\Torrents\Testing"
                       listenAddress="0.0.0.0"
                       listenPort="51234"
                       maxGlobalConn="100"
                       maxHalfOpenConn="14"
                       maxDownloadRate="150000"
                       maxUploadRate="15000"
                       allowedEncryption="All"
                       defaultDownloadRate="150000"
                       defaultUploadRate="15000"
                       defaultMaxConn="50"
                       defaultUploadSlots="4"
                       />
</configuration>
