<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="WebUI"
                 type="MonoTorrent.WebUI.Server.Configuration.WebUISection, MonoTorrent.WebUI.Server" />
        <section name="MonoTorrentClient"
                 type="MonoTorrent.ClientService.Configuration.ClientSection, MonoTorrent.ClientService" />
    </configSections>
    <WebUI 
        httpPrefix="http://*:7888/gui/"
        build="-1"
        path=".\WebUI\"
        responseEncoding="ASCII"
             
        adminUser="admin"
        adminPass=""
        hashAlgorithm="SHA1"
             
        enableGuest="false"
        guestAccount="guest"
        />
  
    <MonoTorrentClient 
        savePath=".\Torrents\"
        listenAddress="0.0.0.0"
        listenPort="51234"
        maxGlobalConn="100"
        maxHalfOpenConn="14"
        maxDownloadRate="150000"
        maxUploadRate="15000"
        allowedEncryption="All"
        defaultDownloadRate="150000"
        defaultUploadRate="15000"
        defaultMaxConn="50"
        defaultUploadSlots="4"
        />
  
</configuration>
